header{
height: 120px;
background-color: yellow;
width: 1920px;
text-align: center;
}

main{
padding: 0 360px;
width: 1160px;
}

footer{
background-color: red;
bottom: 0;
height: 160px;
width: 1920px;
margin-top: 40px;
text-align: center;
font-size: 27px;
}



.holder{
display: flex;
align-items: center;
margin-left: 40px;
margin-right: 80px;
margin-top: 40px;
}

.holder2{
display: flex;
align-items: center;
margin-left: 40px;
margin-right: 80px;
margin-top: 80px;
}

.title{
background-color: rgb(0, 255, 0);
height: 40px;
margin-top: 80px;
width: 360px;
margin-left: 680px;
}

.text1{
background-color: grey;
height: 160px;
width: 560px;
margin-left: 80px;
}

.img-1{
margin-left: 80px;
}

.text2{
margin-left: 40px;
margin-right: 80px;
background-color: grey;
height: 160px;
margin-top: 80px;
}

.title2{
height: 40px;
margin-left: 40px;
margin-top: 80px;
background-color:rgb(0, 255, 0);
width: 360px;
}

.text12{
background-color:grey;
height: 160px;
width: 800px;
}
.img-12{
margin-left: 80px;
}

.container{
display: flex;
align-items: center;
margin-left: 40px;
margin-top: 40px;
margin-right: 80px;
}

.title3{
height: 40px;
margin-left: 40px;
margin-top: 80px;
background-color:rgb(0, 255, 0);
width: 720px;
}

.holder1{
display: flex;
margin-left: 40px;
margin-right: 80px;
margin-top: 40px;
}

.texxt{
background-color:grey;
height: 280px;
width: 440px;
}

.texxt1{
background-color:grey;
margin-left: 160px;
height: 280px;
width: 440px;
}

.text_posledny
{
background-color:grey;
margin-left: 40px;
margin-right: 80px;
height: 80px;
background-color: grey;
margin-top: 40px;
}