.header
{
right: auto;
left: auto;
height: 120px;
background-color: yellow;
outline: 2px solid #000;
}
.footer
{
    right: auto;
    left: auto;
    
background-color: red;
}

.main
{
     width: 1120px;
     height: 1660px;
     margin-left: auto;
     margin-right: auto;
     outline: 2px solid #000;

}

.photoandtext
{
outline: 2px solid #000;
width: 800px;
height: 880px;
margin-left: 3.45%;
margin-top: 3.45%;
}


.img
{
    margin-left: 5%;
    margin-top: 10%;
}
.latinsky_text
{
    color: black;
    background-color: grey;
    height: 120px;
    width: 480px;
    position: relative;
    top: -141px;
    left: 240px;

}

