body, h1{
margin: 0;
padding: 0;
height: 2000px;
width: 1920px;
}

p{
margin-bottom: 0;
margin-top: 0;
}

header{
height: 120px;
background-color: yellow;
width: 1920px;
text-align: center;
}

main{
padding: 0 360px;
width: 1160px;
}

footer{
background-color: red;
bottom: 0;
height: 160px;
width: 1920px;
margin-top: 80px;
text-align: center;
font-size: 27px;
}

.title{
margin-top: 80px;
margin-left: 120px;
margin-right: 120px;
background-color:rgb(0, 255, 0);;
text-align: center;
height: 80px;
color:#ffffff;
}

.first{
margin-right: 80px;
margin-left: 80px;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 80px;
margin-bottom: 0;
}

.img-1{
width: 240px;
height: 280px;
}

.text1{
width: 680px;
height: 200px;
text-align: center;
background-color:grey;
color:#ffffff;
font-size: 17px;
}

.second{
margin-top: 40px;
text-align: center;
margin-bottom: 0;
margin-right: 80px;
margin-left: 80px;
background-color:grey;
color:#ffffff;
}

.text3{
margin-right: 0;in
height: 320px;
}

.third{
display: flex;
justify-content: space-between;
margin-top: 40px;
margin-right: 80px;
margin-left: 80px;
}

.img-2{
width: 240px;
height: 240px;
}

.third_inter{
display: block;
}

.img-3{
margin-left: 200px;
width: 120px;
height: 120px;
}

.text2{
margin-top: 40px;
width: 320px;
height: 80px;
font-size: 10px;
background-color:grey;
color:#ffffff;
text-align: center;
}

.img-holder{
margin-top: 40px;
}


.img-4{
width: 160px;
height: 200px;
margin-left: 120px;
}

.img-5{
width: 160px;
height: 200px;
margin-left: 120px;
}

.img-6{
width: 160px;
height: 200px;
margin-left: 40px;
}

.img-7{
width: 160px;
height: 200px;
margin-left: 120px;
}

.text4{
height: 160px;
margin-left: 80px;
margin-right: 80px;
margin-top: 80px;
text-align: center;
background-color:grey;
color:#ffffff;
font-size: 20px;
}